body {
  background: #f9f7fe;
  border-radius: 10px;
}
h1 {
  font-family: "Caveat", cursive;
  font-size: 40px;
  font-weight: lighter;
  text-decoration: none;
  text-align: center;
}
h2 {
  font-size: 22px;
  text-align: center;
  font-family: "Caveat", cursive;
}
p {
  font-family: "Gill Sans", sans-serif;
  text-align: justify;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 5px 60px 5px 60px;
}
a {
  text-decoration: none;
  color: #6c63ff;
  font-size: 20px;
  font-family: "Caveat", cursive;
}
.container {
  display: block;
  background: white;
  margin: 20px auto;
  width: 800px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.header {
  text-align: center;
  background: #ffecff;
  font-size: 20px;
  color: black;
  font-family: "Gill Sans", sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 20px 15px;
  background-size: 100% 100%;
}
.poster {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 600px;
}
.box {
  display: flex;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.content {
  font-family: "Gill Sans", sans-serif;
  font-size: 18px;
  padding: 5px 50px 10px 50px;
}
.visit {
  border-radius: 10px;
  width: 100px;
}
.hr {
  background-color: #6c63ff;
  font-size: 20px;
  height: 3px;
  border: none;
  margin: 0px 50px 30px 50px;
}
